<plugin name='spring-session' version='0.1' grailsVersion='2.4 &gt; *'>
  <author>Jitendra Singh</author>
  <authorEmail>jitendra.singh@tothenew.com</authorEmail>
  <title>Spring Session Grails Plugin</title>
  <description>Spring Session Grails Plugin provide support for SpringSession project available in Grails.
</description>
  <documentation>http://grails.org/plugin/spring-session</documentation>
  <type>SpringSessionGrailsPlugin</type>
  <resources>
    <resource>DefaultSessionConfig</resource>
    <resource>demo.HomeController</resource>
  </resources>
</plugin>